body {
  margin: 0 auto;
  width: 960px;
}

header {
  width: 960px;
  height: 100px;
}

header img {
  float: left;
}

header p {
  display: block;
  margin-left: 40px;
  line-height: 5px;
}

h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 32px;
}

#wmSubtitle {
  margin-left: 3px;
  font-family: 'Neucha';
  font-size: 10px;
}

#shareIcons li {
  display: inline;
}

#shareIcons2 {
  float: right;
}

#shareIcons {
  display: inline;
}

#shareIcons2 li {
  display: inline-block;
}

h1 {
  font-family: 'Exo', sans-serif;
  font-size: 34px;
}

#postTitle

#postTitle p {
  float: left;
  font-family: 'Neucha';
  font-size: 15px;
  color: #777;
}

#postTitle div {
  float: right;
}

#postTitle div p {
  float: right;
  margin-left: 5px;
}

main>img {
  margin-top: 30px;
  width: 100%;
}

.bodyText {
  margin: 35px 0;
  text-indent: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 22px;
  color: #555;
}

#notepad {
  width: 100%;
}